:root {
  --theme: #13c2c2;
  --themed: #08979c;
  --backtheme: #f0f0f0;
  --lightbacktheme: #fafafa;
  --theme2: #1890ff;
  --theme2d: #91d5ff;
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

* {
  transition: all 0.8s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.leftbox {
  width: 186px;
  display: flex;
  flex-direction: column;
}

.rightbox {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.leftbox1 {
  -webkit-app-region: drag;
  height: 78px;
  background-color: var(--themed, #08979c);
  background-image: url('../static/Edgeless_Logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.leftbox2 {
  flex: 1;
  background-color: var(--theme, #13c2c2);
}

.rightbox1 {
  -webkit-app-region: drag;
  height: 78px;
  background-color: var(--backtheme, #f0f0f0);
}

.rightbox2 {
  flex: 1;
  background-color: var(--lightbacktheme, #fafafa);
}